*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #212026;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    margin-left: 10px;
    height: 80px;
    width: 80px;
}
.titulo{
    color: white;
    font-size: 1.5em;
}
#menu{
    display: flex;
    margin-right:  10px;
}
#menu a{
    color: #D7D9D8;
    text-decoration: none;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.466);
}
#menu li{
    margin-left: 10px;
    padding: 5px 40px 5px 40px;
    background-color: #525759;
    box-shadow: 1px 1px 5px #2a2d2e;
    list-style: none;
    border-radius: 3px;
    transition-duration: 100ms;
}

#menu li:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #2a2d2e;
    transition: ease-in;
    transition-duration: 150ms;

}
.section1{
    background-color:#0D0000;
    height: calc(100vh - 80px);
}
.section2{
    background-color: aqua;
    height: 100vh;
}
.section3{
    background-color: black;
    height: 100vh;
}