@charset "UTF-8";
/*
Em HTML é id = em CSS é #
Em HTML é class = em CSS é .

*/

body{
    background-color: #EBEDF2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
   

}
main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px #42555993;
}
h1{
    color:#D98E04;
    text-align: center;
}
h1#principal {
    text-align: center;
    background-color: #425559;
    border-radius: 10px;
    padding: 10px;

}
h2{
    color: #F2B705;
}
.basico{
    color: #F2B705
}
.intermediario{
    color: #a57d04
}
.avançado{
    color: #5a4402
}
.destaque{
    background-color: #2796ac;
    border-radius: 10px;
    padding: 10px;
}
p{
    text-indent: 15px;
}